<label>Server Name</label>
<!--One-way binding of method to input:-->
<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
    > -->

<!--Using two-way binding instead of traditional binding-->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
    >
<p>{{ serverName }}</p>
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    >Add Server</button>
<hr />
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
