<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr />
            <app-servers></app-servers>
        </div>
    </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (intervalFired)="onIntervalFired($event)"
      ></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [number]="oddNumber"
      ></app-odd>
    </div>
    <div class="col-6">
      <app-even
        *ngFor="let evenNumber of evenNumbers"
        [number]="evenNumber"
      ></app-even>
    </div>
  </div>
</div>
